form.text-center(method='GET', action='/search')
  .form-row
    .col-lg-8.offset-lg-2
      input#givenIngredients.form-control(type='text', name='q')
      button.btn.btn-search.btn-info.my-3(type='submit') Find Recipes
        