doctype html
html
  include ./includes/head.pug
  body
    header
      include ./includes/carousel.pug
    
    .container.py-5
      .text-center
          h1.font-weight-light Welcome to Cloud Foodies, an easy place to find what to cook!
          p.lead
            | Enter your ingredients below to find a recipe that uses those ingredients (separate with a comma e.g. eggs, milk, flour, sugar):
          include ./includes/searchbar.pug